body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header,
.header {
  background: #1C4EA7;
  color: white;
  padding: 15px;
  text-align: center;
  fon
}

main,
.main {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f9f9f9;
}

@font-face{
    font-family: "bismillah";
    src: url(font/Bismillah\ Script.ttf) format("truetype");
    font-weight: normal;
  
}

.judul {
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.235);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
  
}

.text-info{
    font-size: 1.1rem;
  color: #75e2e0;
  text-align: center;
}

p{
    font-family: sans-serif;
    text-align: justify;
}

section,
.section {
  flex: 2;
  background: #D9F5F0;
  padding: 15px;
  border-radius: 6px;
  color: #1F1F1F;
  margin: 20px;
}

article,
.article {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #1c4ea7;
  background: #75E2E0;
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
 letter-spacing: 0,5px;
 border-left: 8px solid #75c3e2;
 font-style: italic;
 text-align: center;
 font-weight: 500;
  
}


aside,
.aside {
  flex: 1;
  background: #3b43ff;
  padding: 15px;
  border-radius: 6px;
}

footer,
.footer {
   text-align: center;
  font-size: 0.9rem;
  color: #024d60;
  background-color: #d9f5f0;
  padding: 10px;
  border-top: 2px solid #75e2e0;
  border-radius: 12px 12px 0 0
}

footer a {
  color: #4ca8ad;
  text-decoration: none;
}

footer a:hover  {
  text-decoration: underline;
}

.section-title{
    padding-left: 10px;
    color: aliceblue;
}

h3{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
    
}

.khusus{
  font-weight: bold;
  color: #2CA8AD;
}

.coret{
  color: rgb(154, 4, 4);
  text-decoration:line-through;
  font-weight: bold;
}

.khusus2{
  font-family:"bismillah",cursive;
  text-align: right;
  color: #b91c1c;
  font-size: 24px;
}

.penutup{
  text-align: right;
  padding-right: 25px;
  color: #024d60;
}

.nama{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
